.sectionB{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color:#f8f6f1 ;
  

}
.sectionB-left{
  display: flex;
  flex-direction: row;

  padding-top: 2%;

 justify-content: center;
 ;


  
}
.sectionB-img{
  max-width: 100%;
  height: auto;
  
    
   
}

.sectionB-right{

padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sectionB-right p{
  font-size: 1.2rem;
  color:black;
  margin: 0 auto;
}

@media (max-width: 768px)  {

  .sectionB{
  display: grid;
  grid-template-columns: 1fr;
  
  
}
.sectionB-right{
  order: 1;
  
}
.sectionB-right p{
  
  font-size: 1em;
}
.sectionB-right h1{
  font-size: 1.5rem;
}

  
}