
.sectionC{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
margin-top: 1%;

}
.sectionC-left{
 padding-top: 2%;

  
}
.sectionC-img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
    
   
}
.sectionC-title{
  color: #050505;
  font-size: 2rem;
  font-weight: bold;
  width: 45%;
  
}
.sectionC-right{
  
padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sectionC-right p{
  font-size: 1.2rem;
  color:black;
  margin: 0 auto;
}

@media (max-width: 768px)  {

  .sectionC{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

  .sectionC-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
}