.sectionOnas{
  display: flex;
    flex-direction: column;

  padding-top: 1%;
  padding-bottom: 3%;
}
.sectionOnas-left{
  
    display: flex  ;
    justify-content: center;
 

}

.sectionOnas-img{
  
  max-width: 50%;
  max-height: 50%;
  aspect-ratio: 16/16;
  object-fit: cover;
}       

.sectionOnas-right h1{
  color: #050505;
  font-size: 2rem;
  font-weight: bold;
  
}

.sectionOnas-right{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionOnas-right p{
  font-size: 1.2rem;
  color: black;
  margin: 0 auto;
}
.sectionOnasB{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

}
.sectionOnasB-left{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
text-align: center;
  background-image: url('/images/WhatsApp Image 2025-07-18 at 00.13.38_06f1fd3b.jpg');
  
}

.sectionOnasB-right{
  height: 50vh;
padding-left: 12%;
  padding-right: 12%;
  text-align: center;
  background: #4E6435;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.sectionOnasB-right p{
  font-size: 1.2rem;
  color:white;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .sectionOnas{
    display: flex;
    flex-direction: column;
  }
   .sectionOnasB{
  display: grid;
  grid-template-columns: 1fr;
 
}
.sectionOnas-right p{
  font-size: 1em;
  
}
.sectionOnas-right p{
  font-size: 1em;
  
}
.sectionOnasB-right h1{
  font-size: 1.5rem;
  
}
.sectionOnasB-right p{
  font-size: 1em;
  
}
  

}