.sectionPortfolio{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
margin-top: 1%;
margin-bottom: 2%;

}
.sectionPortfolio-left{
 padding-top: 2%;

  
}
.sectionPortfolio-img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
  
    
   
}
.sectionPortfolio-title{
  color: #050505;
  font-size: 2rem;
  font-weight: bold;
  width: 45%;
  
}
.sectionPortfolio-right{
  
padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sectionPortfolio-right p{
  font-size: 1.2rem;
  color:black;
  margin: 0 auto;
}
.Portfolio-grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;

  gap: 10px;
  padding: 1vh;

}

.Portfolio-grid img{
  
  border-radius: 10px;  
 max-width: 100%;
 max-height: 100%;
 aspect-ratio: 16/14;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Portfolio-grid img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .sectionPortfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
  }

  .sectionPortfolio-left {
    display: flex;
    flex-direction: row;
    height: 70vh;
    padding-top: 2%;
    justify-content: center;
  }

  .Portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 1vh;
  }

  .portfolio-item img {
    width: 100%;
    height: auto;
  }
}
