.navigation{
    background-color: #ffffff;
    overflow:visible;
    display:flex;
    align-items: center;
    opacity: 1;
    position: sticky;
    }
    .logoimgontainer{
  
      flex-basis: 30%;
    }
   .logoimg{
      
    padding-right: 0px;    
    height:40px;
    width:40px;
    border-radius: 50px;
    }
    .links{
      
      flex-basis: 60%;
      
    }
    .links a:hover{
      color: green;
    }
   
    .links a{
      font-family: 'Saira Condensed', sans-serif;
      font-size: 1.2em;
      margin-right: 10px;
      margin-left: 10px;
      color:#0b0b0b;
      text-decoration: none;
          
    }
    .icon{
      font-size: 1.5em;
      color: #0b0b0b;
      margin-right: 5px;
      margin-left: 5px;
      height: 15px ;
      width: 15px;
      padding: 0px;
    }
   
    .icon:hover{
      color: green;
    }
    
    
    .imgicon{
    height:20px;
    width:20px;
    border-radius: 50px;
    }
    .dropbtn {
      border: none;  
    }
    .dropdown{
      height:2.5rem;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      
      
      
    }
    .dropdown-content1{
      display: none;
      position: absolute;
      
      
    }
   
    button{
      font-family: 'Saira Condensed', sans-serif;
      background: green;
      color: white;
      font-size: 0.9rem;
      border: 0px;
      border-radius: 3px;
      margin-left: 10px;
      animation-name: shake;
      height: 40px;
      padding: 0px;
animation-duration: 1s;
animation-delay: 2s;
    }
    button {
      & a:nth-child(1){
      color: white;
      }
    }
    button:hover {
      & a:nth-child(1){
      color:#D2C49E;
      }
    }
    
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
    
    span{
        margin:6px;
        width:30px;
        height:4px ;
        background-color: black;
        display: block;
        transition: width 2s;
        transition: transform 1s;     
    }
    

    .humburger ,.humburger1{
      display:none; 
    }
    
    
   
    
     
    
    
     @media (max-width: 768px) {
      .logoimgontainer{
        flex-basis: 60%;
        
      }

      .imglogo{
        /*padding-right: 60%;*/
        
        & a:nth-child(1){
          display: inline-block;
        }
       

      }
      
      .dropdown-content1 button{
        display:block;
        padding: 0px;
        margin: 5px 0px 10px 3px;
        background-color: #1b6831;
        
      }
         .links a{
          display: none;
          
        }
        .dropdown{
          width: 100px;
        }

        .humburger1{
          width: 40px;
          margin: 0px 0px 9px 60px;
          display: block;
         padding: 0.1px;
      
        & span:nth-child(1){
          width: 25px;
          animation-name: example1;
          animation-duration: 300ms;
          animation-delay: 0s;
          animation-fill-mode: forwards;
          border-radius: 3px;
      
            
            transition: transform 100ms ease;  
        }
        & span:nth-child(2){
            visibility: hidden;
            animation-name: example2;
          animation-duration: 140ms;
          animation-delay: 0s;
          animation-fill-mode: forwards;
          border-radius: 3px;
        }
        & span:nth-child(3){
          width: 25px;
          animation-name: example;
          animation-duration: 300ms;
          animation-delay: 0s;
          animation-fill-mode: forwards;
          border-radius: 3px;
           
        };
              
        }
        @keyframes example {
          0%   {transform: translate(0px,8px)}
          50%  {transform: translate(0px,-8px);}
          100%  {transform: matrix(1,-1,1,1,1,-5);}
         
        }
        @keyframes example1 {
          0%   {transform: translate(0px,-8px)}
          50%  {transform: translate(0px,8px);}
          100%  {transform: matrix(1,1,1,-1,0,15);}
         
        }
        @keyframes example2 {
          0%   {visibility: visible;}
          100%  {visibility: hidden;}
         
        }
        
        .humburger{ 
          margin: 0px 0px 9px 60px;
          display:block;
          padding: 0.1px;
          

          & span:nth-child(1){
            width: 30px; 
            transition: transform 100ms ease;   
          }
          & span:nth-child(2){
              visibility: visible;
          }
          & span:nth-child(3){
            width: 30px;
            transition: transform 100ms ease;
          };
          
        }

        .dropdown a {
          color: rgb(3, 3, 3);
          text-decoration: none;
          display: block;  
        }

        .dropdown-content1{
            display: block;
            position: absolute;
            background-color:#141414;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            width: 97%;
            opacity:0.8;
            
            
          } 
          .dropdown-content1 a{
            
            display: block;
            padding:10px;
            color:white;
            text-decoration:none;
            
           
          }
          .dropdown-content1 a:hover{
            color: #D2C49E;
          }
         
        
      }
  