.sectionA-video{
  display: block;
  max-width: 80rem;
  width: 100%;
  max-height: 30.875rem;
  height: 100%;
  
}
.sectionA{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 3%;

}
.sectionA-left{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: center;
 padding: 15%;
  background-color: #f8f6f1;
  
text-align: center;
  background-image: url('/images/WhatsApp Image 2025-07-18 at 00.13.38_06f1fd3b.jpg');
  
}
.sectionA-title{
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  width: 60%;
  
}
.sectionA-right{
  padding-top: 15%;
padding-left: 12%;
  padding-right: 12%;
  text-align: center;
  
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.sectionA-right p{
  font-size: 1.5rem;
  color: black;
  margin: 0 auto;
}
.sectionA-right button{
  background-color: #040404; /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  border-radius: 20px;
  
}
.sectionA-right a{
  text-decoration: none; 
  color: white;
  font-weight:bolder ;
 }
@media (max-width: 768px)  {

  .sectionA{
  display: grid;
  grid-template-columns: 1fr;
  
}
.sectionA-title
{
  width: 100%;
  font-size: 1.5rem;
 
}
.sectionA-right{
  height: 35vh;
  padding-top: 2%;
padding-left: 8%;
  padding-right: 8%;
  text-align: center;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.sectionA-left{
  height: 35vh;
}
.sectionA-right p{
  font-size: 1rem;
  color:black;
  margin: 0 auto;
}
  
}