.sectionD{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #f8f6f1;
  margin-top: 2%;

}
.sectionD-left{
  display: flex;
  flex-direction: row;
 height: 60vh;
  padding-top: 2%;
 padding-top: 2%;
 justify-content: center;
 ;


  
}
.sectionD-img{
  max-width: 100%;
  height: auto;
  
    
   
}
.sectionD-title{
  color: #050505;
  font-size: 2rem;
  font-weight: bold;
  width: 45%;
  
}
.sectionD-right{
  height: 60vh;
padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.sectionD-right p{
  font-size: 1.2rem;
  color:black;
  margin: 0 auto;
}

@media (max-width: 768px)  {

  .sectionD{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  
}
.sectionD-right{
  order: 1;}

  
}